extends ./layouts/main.jade

block content
  section#services
    .container
      .row
        .col-sm-8.col-sm-offset-2(ng-repeat="sect in pages", ng-show="page.isSelected(sect.page)")
          text-angular(ng-model="sect.content",
            ta-text-editor-class="form-content",
            ta-html-editor-class="form-content",
            ta-focussed-class="focussed",
            ng-show="false") {{sect.content}}
          p(ng-show="true") {{sect.content}}
          
      //Volunteer Page
      .row(ng-show="page.isSelected(6)")
        h2 Volunteer Application
        form.form-horizontal(ng-submit="postNewVolunteer()")
          .form-group
            .col-sm-12
              .row
                .col-sm-5
                  .form-group
                    label First Name
                    input.form-control(type="text", ng-model="newVolunteer.firstname")
                  .form-group
                    label Last Name
                    input.form-control(type="text", ng-model="newVolunteer.lastname")
                  .form-group
                    label Birthdate
                    input.form-control(type="text", placeholder="MM/DD/YYYY", ng-model="newVolunteer.birthdate")
                  .form-group
                    label Phone Number
                    input.form-control(type="text", ng-model="newVolunteer.phone")
                  .form-group
                    label Email
                    input.form-control(type="email", ng-model="newVolunteer.email")
                .col-sm-5.col-sm-offset-2
                  .form-group
                    label Address Line 1
                    input.form-control(type="text", ng-model="newVolunteer.address.address_1")
                  .form-group
                    label Address Line 2
                    input.form-control(type="text", ng-model="newVolunteer.address.address_2")
                  .form-group
                    .col-sm-5
                      .form-group
                        label City
                        input.form-control(type="text", ng-model="newVolunteer.address.city")
                    .col-sm-5.col-sm-offset-2
                      .form-group
                        label State
                        input.form-control(type="text", ng-model="newVolunteer.address.state")
                  .form-group
                    label Zip
                    input.form-control(type="text", ng-model="newVolunteer.address.zip")
                  
            .col-sm-12
              .form-group.vol-form-group
                .col-sm-2.label-title
                  label How did you hear about us?
                .col-sm-4
                  label Work
                    input(type="checkbox", ng-model="newVolunteer.oi.work")
                  label Friend
                    input(type="checkbox", ng-model="newVolunteer.oi.friend")
                  label News/Article
                    input(type="checkbox", ng-model="newVolunteer.oi.news")
                .col-sm-4
                  label Other
                    input(type="checkbox", , ng-model="newVolunteer.oi.other")
                  textarea.form-control(ng-show="other", ng-model="newVolunteer.oi.otherInfo")
            .col-sm-12
              .form-group.vol-form-group
                .col-sm-2.label-title
                  label Areas of Interest & Availability
                .col-sm-3
                  label Operations
                  label Office/Admin
                    input(type="checkbox", ng-model="newVolunteer.aoi.operations.officeAdmin")
                  label Accounting
                    input(type="checkbox", ng-model="newVolunteer.aoi.operations.accounting")
                  label Maintenance
                    input(type="checkbox", ng-model="newVolunteer.aoi.operations.maintenance")
                .col-sm-3
                  label Food Donations
                  label Pickups
                    input(type="checkbox", ng-model="newVolunteer.aoi.foodDonation.pickups")
                  label Sorting
                    input(type="checkbox", ng-model="newVolunteer.aoi.foodDonation.sorting")
                  label Distribution
                    input(type="checkbox", ng-model="newVolunteer.aoi.foodDonation.distribution")
                .col-sm-3
                  label Programs and Special Events 
                  label ESOL
                    input(type="checkbox", ng-model="newVolunteer.aoi.spec_events.esol")
                  label Operation Santa
                    input(type="checkbox", ng-model="newVolunteer.aoi.spec_events.opSanta")
                  label Back to School
                    input(type="checkbox", ng-model="newVolunteer.aoi.spec_events.back2school")
                  label Fundraising
                    input(type="checkbox", ng-model="newVolunteer.aoi.spec_events.fundraising")
            .col-sm-12
              .form-group.vol-form-group
                .col-sm-2.label-title
                  label Additional Info
                .col-sm-4
                  label Fluent Languages
                  label Speak
                  input.form-control(type="text", ng-model="newVolunteer.additional.fluent.speak")
                  label Read/Write
                  input.form-control(type="text", ng-model="newVolunteer.additional.fluent.write")
                .col-sm-4
                  label Tell us about yourself:
                  textarea.form-control(type="text", ng-model="newVolunteer.additional.volunteerInfo")
            .col-sm-12
              .form-group.vol-form-group.references
                .col-sm-2.label-title
                  label References
                .col-sm-10
                  .row
                    .col-sm-5
                      label Name
                      input.form-control(type="text", ng-model="newVolunteer.references[0].name")
                      label Relationship
                      input.form-control(type="text", ng-model="newVolunteer.references[0].relationship")
                      label Phone Number
                      input.form-control(type="text", ng-model="newVolunteer.references[0].phone")
                      label Email
                      input.form-control(type="email", ng-model="newVolunteer.references[0].email")
                    .col-sm-5.col-sm-offset-2
                      .form-group
                        label Address Line 1
                        input.form-control(type="text", ng-model="newVolunteer.references[0].address.address_1")
                      .form-group
                        label Address Line 2
                        input.form-control(type="text", ng-model="newVolunteer.references[0].address.address_2")
                      .form-group
                        .col-sm-5
                          .form-group
                            label City
                            input.form-control(type="text", ng-model="newVolunteer.references[0].address.city")
                        .col-sm-5.col-sm-offset-2
                          .form-group
                            label State
                            input.form-control(type="text", ng-model="newVolunteer.references[0].address.state")
                      .form-group
                        label Zip
                        input.form-control(type="text", ng-model="newVolunteer.references[0].address.zip")
                  .row
                    .col-sm-5
                      label Name
                      input.form-control(type="text", ng-model="newVolunteer.references[1].phone")
                      label Relationship
                      input.form-control(type="text", ng-model="newVolunteer.references[1].relationship")
                      label Phone Number
                      input.form-control(type="text", ng-model="newVolunteer.references[1].phone")
                      label Email
                      input.form-control(type="email", ng-model="newVolunteer.references[1].email")
                    .col-sm-5.col-sm-offset-2
                      .form-group
                        label Address Line 1
                        input.form-control(type="text", ng-model="newVolunteer.references[1].address.address_1")
                      .form-group
                        label Address Line 2
                        input.form-control(type="text", ng-model="newVolunteer.references[1].address.address_2")
                      .form-group
                        .col-sm-5
                          .form-group
                            label City
                            input.form-control(type="text", ng-model="newVolunteer.references[1].address.city")
                        .col-sm-5.col-sm-offset-2
                          .form-group
                            label State
                            input.form-control(type="text", ng-model="newVolunteer.references[1].address.state")
                      .form-group
                        label Zip
                        input.form-control(type="text", ng-model="newVolunteer.references[1].address.zip")
            .col-sm-12
              .form-group.vol-form-group
                .col-sm-2.label-title
                  label Emergency Contact 
                .col-sm-4
                  label Name
                  input.form-control(type="text", ng-model="newVolunteer.emergencyContact.name")
                  label Phone
                  input.form-control(type="text", ng-model="newVolunteer.emergencyContact.phone")
                .col-sm-4
                  label Relationship
                  input.form-control(type="text", ng-model="newVolunteer.emergencyContact.relationship")
            input.btn.btn-primary.btn-big.pull-right(type="submit", value="Submit")
      //Events Page
      .row(ng-show="page.isSelected(7)")
        .row
          .col-sm-8.col-sm-offset-2
            h2 Current Events
            ul.events-list
              li.event(ng-repeat="event in events")
                button.close(ng-show="#{admin}", type="button", ng-click="deleteEvent(event._id)") &times;
                h3 {{event.name}}
                .row
                  .col-sm-4
                    h4 Location:
                    p {{event.location.address_1}}
                    p {{event.location.address_2}}
                    p {{event.location.city}}
                    p {{event.location.state}}
                    p {{event.location.zip}}
                  .col-sm-4
                    h4 Information:
                    p {{event.info}}
                  .col-sm-4
                    h4 Starts At:
                    p {{event.timeStart}}
                    h4 Ends At: 
                    p {{event.timeEnd}}
        .row(ng-show="#{admin}")
          .col-sm-8.col-sm-offset-2
            form.form-horizontal(ng-submit="postEvent()")
              .row
                .col-sm-5
                  .form-group
                    label Name 
                    input.form-control(type="text", ng-model="newEvent.name")
                  .form-group
                    label Time Start
                    input.form-control(type="text", ng-model="newEvent.timeStart")
                  .form-group
                    label Time End
                    input.form-control(type="text", ng-model="newEvent.timeEnd")
                .col-sm-5.col-sm-offset-2
                  .form-group
                    label Address Line 1
                    input.form-control(type="text", ng-model="newEvent.location.address_1")
                  .form-group
                    label Address Line 2
                    input.form-control(type="text", ng-model="newEvent.location.address_2")
                  .form-group
                    .col-sm-5
                      .form-group
                        label City
                        input.form-control(type="text", ng-model="newEvent.location.city")
                    .col-sm-5.col-sm-offset-2
                      .form-group
                        label State
                        input.form-control(type="text", ng-model="newEvent.location.state")
                  .form-group
                    label Zip
                    input.form-control(type="text", ng-model="newEvent.location.zip")
              .row
                .col-sm-12
                  .form-group
                    label Information Details
                    textarea.form-control(type="text", ng-model="newEvent.info")
                .form-group
                  input.btn.btn-primary.btn-big.pull-right(type="submit", value="Create")
      
      //Donations Page
      .row(ng-show="page.isSelected(8)")
        .col-sm-8.col-sm-offset-2
          form.form-horizontal(ng-submit="donate()")
            .form-group
              .col-sm-12
                label Donate to a specific cause
                select.form-control(ng-model="donation", ng-options="event.name for event in donationEvents")
                  option(value="") Select Cause
            .form-group
              .col-sm-4
                label Amount
                .input-group
                    .input-group-addon $
                    input.form-control(type="text")
            .form-group
              input.btn.btn-primary.btn-big.pull-right(type="submit", value="DONATE")
<<<<<<< HEAD
  hr.main
  section#carousel
      .container
        .row
          .col-lg-12.text-center
            h2 Gallery
            .row
              .col-md-4.col-md-offset-4
                hr.style-one.text-center 
            .slides
              .slide-one
                img(src="images/slide1-visionwall.jpg", alt="")
              .slide-two
                img(src="images/slide3-backtoschool.jpg", alt="")
              .slide-three
                img(src="images/slide5-walkinthepark2012.jpg", alt="")
              .slide-four
                img(src="images/slide6-volunteers.jpg", alt="")
              .slide-four
                img(src="images/slide2-chandlergivesback.jpg", alt="")
              .slide-four
                img(src="images/slide12-intel.jpg", alt="")
  hr.main
=======


>>>>>>> ea12ec828bd9023608edbd91b8b9e9dab2a5f7f5
  section#about
    .container
      .row
        .text-center
          h2 About
        .row
          .col-md-4.col-md-offset-4
            hr.style-one.text-center 
        .row
          .col-lg-6.col-sm-12.text-center#about-mission
            h3 Mission and Vision
            p At Chandler Christian Community Center, we change lives by nourishing minds and bodies to create a connected, thriving community.
            p To have a healthy and productive community built on a foundation of dignity and hope.
          .col-lg-6.col-sm-12.text-center
            h3.text-center Our History
            p The Chandler Christian Community Center was organized in 1966 for the purpose of providing assistance to those who were in need. The center has provided emergency food to the needy of this community. The numbers have increased dramatically over the years. Today it remains the largest charitable Food Bank organization in the community, providing food to the low income and homeless in the area.
  hr.main
  section#contact
    .container
      .row
        .col-lg-10.col-lg-offset-1.text-center
          h2.section-heading Contact us                     
          .row
            .col-md-4.col-md-offset-4
              hr.style-one.text-center            
          h3 Comments or Questions
          .row
            .col-lg-3.col-md-6.col-xs-12
              h4.text-center Email
              a(href='mailto:theiremailhere@gmail.com') theiremail@email.com
            .col-lg-3.col-md-6.col-xs-12
              h4.text-center Call
              p 480-963-1423
            .col-lg-3.col-md-6.col-xs-12
              h4.text-center Mail
              p 345 S. California St.Chandler, AZ 85225
            .col-lg-3.col-md-6.col-xs-12
              h4.text-center Fax
              p Fax:480-726-0896
  hr.main
  footer
    .container
      hr.style-four
      .row
        .col-lg-3.col-sm-6.text-center
          p Chandler Christian Community Center
        .col-lg-3.col-sm-6.text-center
          p 345 S. California St. Chandler, AZ 85225
        .col-lg-3.col-sm-6.text-center
          p 480-726-0896
        .col-lg-3.col-sm-6.text-center
          a(href="#") Hours/Locations
        
      //- include ./modules/footer.jade
